.input-width {    
  width: 100%;    
}  

  
  .container{
    margin-top: 40px;
  }

  mat-card {    
    width: 60%;       
    text-align: center;  
    max-width: 80%;    
  }
    
// .input-width{
//   width:650px;
// }